<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backtesting Visualiser</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.bokeh.org/bokeh/release/bokeh-3.2.1.min.js"
    ></script>
    <script type="text/javascript">
      Bokeh.set_log_level("info");
    </script>
  </head>
  <body>
    <div class="level m-5">
      <div class="level-left">
        <div class="level-item">
          <h3 class="title">Backtesting Visualiser</h3>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="button">
            <span class="icon">
              <i class="icon-github icon-large"></i>
            </span>
            <span>View source</span>
          </button>
        </div>
      </div>
    </div>
    <hr class="solid" />
    <div class="columns m-5">
      <div class="column">
        <div class="card m-5 p-5">
          <h4 class="title is-4">Parameters</h4>
          <form method="post" id="params-form">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label for="ticker" class="label">Ticker</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="GOOG"
                      id="ticker"
                      name="ticker"
                    />
                  </p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label for="strategy" class="label">Strategy</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control"></p>
                  <div class="select">
                    <select class="input" id="strategy" name="strategy">
                      <option selected>SMA crossover</option>
                      <option>RSI oscillator</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label for="initialCash" class="label">Initial cash</label>
              </div>
              <div class="field-body">
                <div class="field has-addons">
                  <p class="control">
                    <a class="button is-static"> $ </a>
                  </p>
                  <p class="control">
                    <input
                      class="input"
                      type="number"
                      placeholder="1000"
                      min="1"
                      step="100"
                      id="initialCash"
                      name="initialCash"
                    />
                  </p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label for="commission" class="label">Commission</label>
              </div>
              <div class="field-body">
                <div class="field has-addons">
                  <p class="control">
                    <input
                      class="input"
                      type="number"
                      placeholder="2"
                      min="-10"
                      max="10"
                      id="commission"
                      name="commission"
                    />
                  </p>
                  <p class="control">
                    <a class="button is-static"> % </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label for="leverage" class="label">Leverage</label>
              </div>
              <div class="field-body">
                <div class="field has-addons">
                  <p class="control">
                    <input
                      class="input"
                      type="number"
                      placeholder="1"
                      min="1"
                      step="1"
                      id="leverage"
                      name="leverage"
                    />
                  </p>
                  <p class="control">
                    <a class="button is-static"> : 1 </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label" for="tradeOnClose">Trade on close?</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <div class="control">
                    <label class="radio">
                      <input
                        type="radio"
                        id="tradeOnClose"
                        name="tradeOnClose"
                        value="Yes"
                      />
                      Yes
                    </label>
                    <label class="radio">
                      <input
                        type="radio"
                        id="tradeOnClose"
                        name="tradeOnClose"
                        value="No"
                        checked
                      />
                      No
                    </label>
                  </div>
                  <p class="help">
                    If yes, market orders will be filled with the current bar's
                    closing price
                  </p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label" for="allowHedging">Allow hedging?</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <div class="control">
                    <label class="radio">
                      <input
                        type="radio"
                        id="allowHedging"
                        name="allowHedging"
                        value="Yes"
                      />
                      Yes
                    </label>
                    <label class="radio">
                      <input
                        type="radio"
                        id="allowHedging"
                        name="allowHedging"
                        value="No"
                        checked
                      />
                      No
                    </label>
                  </div>
                  <p class="help">
                    If yes, trades are allowed in both directions simultaneously
                  </p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label" for="exclusiveOrders"
                  >Exclusive orders?</label
                >
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <div class="control">
                    <label class="radio">
                      <input
                        type="radio"
                        id="exclusiveOrders"
                        name="exclusiveOrders"
                        value="Yes"
                        checked
                      />
                      Yes
                    </label>
                    <label class="radio">
                      <input
                        type="radio"
                        id="exclusiveOrders"
                        name="exclusiveOrders"
                        value="No"
                      />
                      No
                    </label>
                  </div>
                  <p class="help">
                    If yes, each new order auto-closes the previous
                    trade/position
                  </p>
                </div>
              </div>
            </div>
            <div class="control mt-5">
              <button type="submit" class="button is-success is-fullwidth">
                <span class="icon">
                  <i class="icon-check-sign icon-large"></i>
                </span>
                <span>Update plot</span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="column">
        <div id="plot-container">
          <p>Default content</p>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
